* {
    margin: 0;
    padding: 0;
    font-family: 'Galindo', cursive;
    list-style: none;
    text-decoration: none;
}

:root {
    --blue-color: #0D1282;
    --red-color: #D71313;
    --yellow-color: #F0DE36;
    --white-color: #EEEDED;
}
body {
    background-image: url("../../Image/BG.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.mini-title {
    margin-left: 5%;
}
.mini-title .title-content {
    display: flex;
    align-items: center; 
    gap: 10px;
}
.mini-title h1 {
    color: var(--yellow-color);
    -webkit-text-stroke: 0.8px black;
    margin: 0; 
}
.mini-title img {
    margin-top: 5px;
    width: 50px;
    height: auto;
}

/********star design*******/
.star-container {
    margin-top: 10px;
    margin-right: 15%;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.star-item {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}
.star-icon {
    width: 28px; 
    height: auto; 
    margin-right: 10px;
}
.star-text {
    font-size: 25px;
    color: var(--yellow-color);
    -webkit-text-stroke: 0.8px black;
}

.menu-icon{
    width: 30px;
    height: auto;
    margin-right: 50px;
}
/***menu for logout**/
.dropdown-menu {
    display: none; /* Hidden by default */
    position: absolute;
    top: 100%; /* Position right below the profile */
    left: 93%;
    transform: translateX(-50%);
    background-color: #e0e0e0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 1; /* Ensure it's above other elements */
}
.dropdown-menu a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
}

.dropdown-menu a:hover {
    color: var(--red-color);
}

/*start assessment button*/
.start{
    height: 350px;
    width: 350px;
    background-color: var(--red-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
}
.start:hover {
    transform: scale(1.05);
}
.start h1{
    color: var(--white-color);
}

/*quiz style*/
.quiz-container {
    position: relative;
    width: 80%;
    height: 80%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--white-color);
}
/*****question*****/
.question {
    padding: 10px;
}
.question p {
    margin: 10px;
    font-size: 35px;
}
/*****question image****/
.image-container {
    height: 60%;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
}
#popup span{
    font-size: 50px;
}

.correct {
    color: var(--yellow-color);
}

.wrong {
    color: var(--red-color);

}

.choices {
    position: absolute;
    bottom: 0;
    margin-bottom: 1px;
    width: 100%;
    text-align: center;
}
.choices button {
    width: 32%;
    margin: 0 1px;
    padding: 30px;
    border-radius: 10px;
    border: none;
    transition: transform 0.5s, background-color 0.25s;
}
.choices button:hover {
    transform: scale(1.02);
    filter: brightness(0.80);
}
.choice-btn1 {
    background-color: var(--blue-color);
}
.choice-btn2 {
    background-color: var(--red-color);
}
.choice-btn3 {
    background-color: #10c510;
}
.choice-btn1 h2, .choice-btn2 h2, .choice-btn3 h2 {
    color: white;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border: 2px solid #000;
    text-align: center;
    z-index: 1000;
    font-size: 1.2rem;
    font-weight: bold;
}

#popup.correct {
    color: green;
}

#popup.wrong {
    color: red;
}

@media screen and (max-width: 480px) {

    header{
        padding: 12px 4%;
    }
    .mini-title h2{
        font-size: 20px;
    }
    .star-container {
        margin-right: 8%;
    }
    .star-item {
        margin-left: 10px;
        margin-right: 10px;
    }
    .star-icon {
        width: 20px; 
        height: auto; 
        margin-right: 10px;
    }
    .star-text {
        font-size: 20px;
    }

    .mini-title h1{
        font-size: 35px;
    }

    .quiz-container {
        position: relative;
        width: 80%;
        height: 70%;
        text-align: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 10px var(--white-color);
    }
    /*****question*****/
    .question {
        padding: 10px;
    }
    .question p {
        margin: 10px;
        font-size: 25px;
    }
    /*****question image****/
    .image-container {
        height: 40%;
    }

    .choices button {
        width: 31%;
    }
    
    .choices h2{
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}